
myid{
    background-color:aliceblue;
}

.dropbtn {
    background-color: #5e4caf;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  img{
      border-radius: 50%;
      inline-size: 30%;
      position: relative;
  }

.overview{
    text-align: center;
    top: 30px;
    
}
.picture{
  text-align: center;

}
.html{
  background-image: url(Ridge-Design-Website-Design-Background.jpeg);
}

.about{
  text-align: center;
}

.cont{
  text-align: center;
}
.div{
  text-align: center;
}

.line{
  text-decoration: underline;
  text-shadow: 2px 2px;
  color: brown;
}

a{
  color: yellow;
}

section{
  text-align: center;
}

@media only screen and (max-width:768px){
  /* for mobile phones : */
  [class*="col-"]{
    width:100%
  }
}

button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #080355;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#f5f4f8;
  text-align:center;
  transition: all 0.2s;
  }
  button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
   button{
  display:block;
  margin:0.4em auto;
  }
  } 
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h3{
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  color: darkgreen;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 .row{
   text-align: center;
 }

 .color{
   color: blue;
 }

 #align{
   text-align: center;
   color: darkgreen;
 }

 .align{
   text-align: center;
   color: indigo;
   border-color: lawngreen;
   border-radius: 20%;
 }