<!DOCTYPE html>
<html id="myid" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masande Gontyeleni</title>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="dropdown">
    <button class="dropbtn">MENU</button>
    <button type="button" onclick="displayDate()">Show Date</button>
    <p id="showDate"></p>
    <div class="dropdown-content">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact-us.html">Contact</a>
        <a href="projects.html">Projects</a>
        <a href="ratings.html">My ratings</a>
    </div>
    </div>
    <div class="about">
        <b><p1 >ABOUT ME</p1></b>
        <p>I am a very passionate web developer who is interested <br>in web development and also in working with databases,<br>I am very punctual and hardworking.<br>I am committed and business minded individual.<br>I am seeking to advance my skills and pursue a carrer as a Full Stack developer.</p> 
            
        <b><p2>Passion Board:</p2></b>

        <p>               Education<br>
                          Mobile gaming/ PC gaming (FPS, Strategy)<br>
                          Banking apps<br>
                          Social networks<br>
                          Agricultural activities
        </p> 
                          
        <b><p>Education:</p></b>
        <p>Matric (year and school): 2017 Phandulwazi high school<br>
            <br>
           Other education : Entrepreneurship<br>
           College name: Rlabs<br>
           Period: (date from when to when) from the 25 0f December to the 29 of December<br>
           Completed: Yes<br>
           <br>
           Other education : Coding<br>
           College name : Lifechoices coding Academy<br>
           Period : (date from when to when) from 07th of September 2020 to the 07 of March 2021<br>
           completed : in progress<br>
        </p> 
        
        <b><p>Working Experience:</p></b>
        <p>Company: Mitchell heights primary<br>
           Period: 03 February 2020 to 07 September 2020<br>
           Role: Teacher’s Assistant<br>
        <b>Duties:</b><br>
        Marking Learners work and tests<br>
        recording the marks on the spreadsheet<br>
        Teaching Lesson to Grade one and grade seven<br>
        Assisting in screening learner<br>
        
    </div><br>
    <br>

    <div class="row">
        <h1>TESTIMONIALS</h1>
        <div class="column" >
            <img src="/static/zen.jpeg">
            <p>I would like to recommend Masande to anyone seeking a full stack developer.<br><br>
            He goes above and beyond his job description by not only evaluating but by<br><br>
            giving the best advices to how to approach problems.<br><br>
            His communication is excellent and he shows willingness to persevere until<br><br>
            the goal is reached<br><br>
            Obviously passionate about work and he is true professional</p><br><br>
            <b><p class="color" >Zenande Dotwana(College student)</p></b>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="/static/candice-amon.png">
            <p>Masande is an independent individual who is willing to unravel potential in each<br><br>
            every person he encounters in his life.<br><br>
            Masande is very outspoken and draws strength from his achievements in life.<br><br>
            He believes to GROW means to CHANGE, if you haven't been challenged you<br><br>
            haven't GROWN.Enjoys seeing friends and family happy around him.</p>
            <b><p class="color">Candice(life skills fascilitator</p></b>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="/static/FB_IMG_1610099873657.jpg">
            <p>To whom this may concern:<br><br>
            There is honestly and literally, nothing out of place I can say about Masande.<br><br>
            Well, at the same time I can't say enough nice things about. From his<br><br>
            consistency when it comes to working on tasks and projects, to the<br><br> 
            dedication of actually being the first person to get to campus and<br><br> 
            leave an hour after all of us. His kind heart mesmerizes us all at once.<br><br> 
            Once he spots that you are struggling with something and he knows he has<br><br>
            the ability to help, then he shall. I've never met such a hardworking,<br><br>
            goal-driven individual in my entire existence on this planet.</p>
            <b><p class="color">Lisa Mbatsha(College student)</p></b>
            <br>
            <br>
            <br>
            <br>

            <img src="/static/sandile.png">
            <p>Masande is one pleasant to work with.<br><br>
            Masande will go through a problem until he figures a solution to it,<br><br> 
            and that comes in handy in an organisation. I would recommend Masande.<br><br>
            <b><p class="color">Sandile Tukani(College student)</p></b>

        </div>
        <div class="column">
            <img src="/static/2019-08-11-20-31-02-585(1).jpg">
            <p>Masande has been a great pleasure to work with and he is also<br><br> 
            a great team player.<br><br>
            If there is one person who has delivered work of high quality<br><br> 
            and on time , it has to be Masande</p>
            <b><p class="color">Abdul Mohamed(College student)</p></b>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="/static/thapelo-tsotetsi.jpeg">
            <p>Masande, a coding enthusiast, is a compassionate guy who enjoys<br><br>
            learning new things. He believes that with time, patience and<br><br>
            support anything can be mastered or achieved.</p>
            <b><p class="color">Thapelo Tsotetsi(College tutor)</p></b>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <img src="/static/Mihlali Momoza (1)(1).JPG">
            <p>My experience with Masande i can safely say that he's a communicative<br><br> 
            and a self assertive individual, he proved himself to be a dependable <br><br>
            and a hard worker with solid problem solving and technical skills.<br><br> 
            I was always impressed by Masande’s ability to complete the work<br><br> 
            assigned to him on time. Masande not only met deadlines but also<br><br>
            explains his programs in a way that non-experts can easily understand.</p>
            <b><p class="color">Mihlali Momoza(college student)</p></b>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <img src="/static/godwin-dzvapatsra.jpeg">
            <p>Godwin is experienced in the vocational education and training arena.<br><br>
            His philosophy is grounded in lifelong learning.<br><br>
            In the wake of skills shortage, he believes in a responsive curriculum<br><br>
            in which all key players participate. In his spare time, Godwin enjoys<br><br>
            walking, hiking and watching soccer.</p>
            <b><p class="color">Godwin Dzavapatsra(College tutor)</p></b>
            
    </div>
</body>
</html>
